.movie {
    width: 454px;
    height: 281px;
    margin-bottom: 25px !important;
}

.movie__head {
    display: flex;
    justify-content: space-between;
}

.movie__grade {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.movie__grade.movie__grade_border_red {
    border: 2px solid #E90000;
}

.movie__grade.movie__grade_border_orange {
    border: 2px solid #E97E00;
}

.movie__grade.movie__grade_border_yellow {
    border: 2px solid #E9D100;
}

.movie__grade.movie__grade_border_green {
    border: 2px solid #66E900;
}

.movie__photo img {
    width: 183px;
    height: 281px;
}

.movie__info {
    padding: 12px 10px;
}

.movie__genres {
    padding: 10px 0;
}

.ant-card-body {
    display: flex;
    padding: 0;
}

.movie__rate {
    margin-top: 10px;
}

.movie__rate li:not(:last-child){
    margin-right: 5px;
}
